        <div class="page">
            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <h1>Neil Bryson</h1>
                        </div>
                        <div class="col-xs-4">
                            <div class="pull-right">
                                <small>
                                    07804 066310 <br />
                                    neil@neilbryson.net <br />
                                    http://neilbryson.net
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-4">
                        <h4 class="column-header">Summary</h4>
                    </div>
                    <div class="col-xs-8">
                        <p class="intro">Front-end developer with a variety of experience. Has worked in startup and agency environments; including working local, regional, national, and international brands. Experienced with projects of all sizes and scopes, from single-page promotional web sites to large-scale web applications supporting millions of users.</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-4">
                        <h4 class="column-header">Experience</h4>
                    </div>
                    <div class="col-xs-8">
                        <h4>Spark Energy
                            <small>
                                Web Developer &middot;
                                01/16 - current &middot;
                                Edinburgh, UK
                            </small>
                        </h4>
                        <hr />
                        <h5>Responsibilities</h5>
                        <ul>
                            <li>maintenance and feature development for settings within LinkedIn</li>
                            <li>maintenance and feature development for LinkedIn login, password reset, and challenge flows</li>
                            <li>rebuilt LinkedIn Help, converting tech stack from PHP to Play/Dust</li>
                        </ul>
                        <h5>Technologies Used</h5>
                        <p>HTML(5); CSS(3); SCSS; TypeScript; Angular 2; React; PHP; Zend; Symfony; Pimcore; Jenkins</p>
                        <br />
                        <h4>Gift Experience Scotland
                            <small>
                                Web Developer &middot;
                                03/13 - 01/16 &middot;
                                Edinburgh, UK
                            </small>
                        </h4>
                        <hr />
                        <h5>Responsibilities</h5>
                        <ul>
                            <li>maintaining internal application’s front-end architecture</li>
                            <li>helping to define and develop new product features</li>
                            <li>working with marketing department on the public-facing site and other marketing materials</li>
                        </ul>
                        <h5>Technologies Used</h5>
                        <p>HTML(5); CSS(3); SCSS; jQuery; AngularJS; SVN; Git; PHP; Wordpress; Yii</p>
                        <br />
                        <h4> BPP Learning Media
                            <small>
                                Systems Developer &middot;
                                01/11 - 03/13 &middot;
                                Livingston, UK
                            </small>
                        </h4>
                        <hr />
                        <h5>Responsibilities</h5>
                        <ul>
                            <li>building front-end solutions for national and international clients</li>
                            <li>planning projects by identifying and delegating front-end tasks</li>
                            <li>integrating front-end and back-end code in a variety of technologies</li>
                        </ul>
                        <h5>Technologies Used</h5>
                        <p>HTML(5); CSS(3); JavaScript; jQuery; SVN; SCORM; Classic ASP; C# .NET/WPF</p>
                        <br />
                        <h4>Redwin Technologies
                            <small>
                                Web Developer &middot;
                                09/07 - 07/08 &middot;
                                Edinburgh, UK
                            </small>
                        </h4>
                        <hr />
                        <h5>Responsibilities</h5>
                        <ul>
                            <li>designing and developing marketing web sites for local clients</li>
                        </ul>
                        <h5>Technologies Used</h5>
                        <p>HTML; CSS; jQuery; PHP; Wordpress</p>
                        <br />
                        <h4>Lloyds Banking Group
                            <small>
                                Mainframe Developer &middot;
                                05/07 - 08/07 &middot;
                                Houston, TX
                            </small>
                        </h4>
                        <hr />
                        <h5>Responsibilities</h5>
                        <ul>
                            <li>designing and developing marketing web sites for local clients</li>
                        </ul>
                        <h5>Technologies Used</h5>
                        <p>COBOL; Easytrieve; SQL (DB2); CICS; IBM HLASM</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-4">
                        <h4 class="column-header">Education</h4>
                    </div>
                    <div class="col-xs-8">
                        <h4>Bachelor of Science</h4>
                        <h5>Combined Studies - (Information Technology and Computer Science)</h5>
                        <h5>Heriot Watt University</h5>
                        <br />
                        <h4>SQA Highers</h4>
                        <h5>Computing - A, English - B, Geography - B, Physics - C, Maths - C</h5>
                        <h5>Strathaven Academy</h5>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-4">
                        <h4 class="column-header">Proficiencies</h4>
                    </div>
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-6">
                                <h4>Front-end</h4>
                                <ul>
                                    <li>HMLT(5)</li>
                                    <li>CSS(3)</li>
                                    <li>JavaScript</li>
                                    <li>jQuery</li>
                                    <li>Angular</li>
                                </ul>
                            </div>
                            <div class="col-xs-6">
                                <h4>Back-end</h4>
                                <ul>
                                    <li>PHP</li>
                                    <li>Drupal</li>
                                    <li>Ruby</li>
                                    <li>Java</li>
                                    <li>MySQL</li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <h4>Techniques</h4>
                                <ul>
                                    <li>Responsive Web Design</li>
                                    <li>Mobile Web</li>
                                    <li>Web Accessibility</li>
                                </ul>
                            </div>
                            <div class="col-xs-6">
                                <h4>Source Control</h4>
                                <ul>
                                    <li>Git</li>
                                    <li>SVN</li>
                                </ul>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /container -->
        </div>