<div class="page">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10">
                    <h1>Neil Bryson</h1>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <small>
                        <ul class="contact">
                            <li><span>07804 066310</span></li>
                            <li><span>neil@neilbryson.net</span></li>
                            <li><span>http://neilbryson.net</span></li>
                        </ul>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <h4 class="column-header">Summary</h4>
            </div>
            <div class="col-xs-10">
                <p class="intro">
                Currently working as a web developer for Spark Energy. I have completed many projects over the course of my career, ranging from large scale data migrations to feature rich web applications. I've been involved in the development, testing and release of both greenfield software and challenging legacy systems. I am comfortable working closely with project stakeholders to ensure that their requirements and expectations are met. I'm reliable, responsible, punctual and have well established design, communication and programming skills.
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-2">
                <h4 class="column-header">Experience</h4>
            </div>
            <div class="col-xs-10">
                <h4>Spark Energy</h4>
                <small>
                    Web Developer &middot;
                    January 2016 - current &middot;
                    Edinburgh, UK
                </small>
                <hr />
                <h5>Responsibilities/Achievements</h5>
                <ul>
                    <li>Working within an agile team with 2 week sprints consisting of BAU and new project work</li>
                    <li>Creating work items in Axosoft and assigning them to the other developers on the team</li>
                    <li>Development of a new frontend for the 'My Account' area in Angular 2</li>
                    <li>Maintenance of build scripts in Jenkins</li>
                    <li>DevOps on live and test CentOS servers</li>
                    <li>Automation of development/test environment building using Vagrant</li>
                    <li>Completion of a RESTful API to support launch of a new mobile app</li>
                    <li>Wrote a suite of tests in Chakram to facilitate automated build testing and CI in Jenkins</li>
                    <li>Production hardened all web applications and created process documents in preparation for an ISO audit</li>
                </ul>
                <h5>Technologies Used</h5>
                <p>TypeScript; Angular 2; RxJS; Redux; PHP 7; PHPUnit; Zend; Symfony; Pimcore; HTML(5); CSS(3); SCSS; Jenkins; NGINX; Chakram; JWT</p>
                <br />
                <h4>Gift Experience Scotland</h4>
                <small>
                    Web Developer &middot;
                    March 2013 - January 2016 &middot;
                    Edinburgh, UK
                </small>
                <hr />
                <h5>Responsibilities/Achievements</h5>
                <ul>
                    <li>Development and maintenance of 3 highly bespoke Wordpress based e-commerce websites</li>
                    <li>Development of an OAuth2 based RESTful API for a product/booking database using Yii2 Framework</li>
                    <li>Integration of Sagepay, Braintree and VCS payment gateways</li>
                    <li>Introduction of Grunt and SASS to the company's front-end development workflow</li>
                    <li>Launched Gift Experience Ireland website and created new functionality for handing multiple currencies and currency conversion</li>
                    <li>Developed a new system to bring gift voucher printing in house, using a combination of cron scheduled bash scripts and a PDF library</li>
                    <li>Created a web based financial reporting tool to track company revenue and outgoings</li>
                    <li>Interviewing job applicants</li>
                    <li>Code reviews on Bitbucket</li>
                </ul>
                <h5>Technologies Used</h5>
                <p>HTML(5); CSS(3); SCSS; jQuery; AngularJS; SVN; Git; PHP; Wordpress; Yii; OAuth2</p>
                <br />
                <h4> BPP Learning Media</h4>
                <small>
                    Systems Developer &middot;
                    February 2011 - March 2013 &middot;
                    Livingston, UK
                </small>
                <hr />
                <h5>Responsibilities/Achievements</h5>
                <ul>
                    <li>Development and maintenance of an in-house Javascript e-learning engine for desktop and mobile (PhoneGap)</li>
                    <li>Extended e-learning engine to support note taking and persistent text highlighting</li>
                    <li>Development of desktop based e-learning authoring tools in C# for building XML and JSON SCORM manifests</li>
                    <li>Development and maintenance of e-learning interactions in Flash (Actionscript), Flex and Captivate</li>
                </ul>
                <h5>Technologies Used</h5>
                <p>HTML(5); CSS(3); JavaScript; jQuery; SVN; SCORM; Classic ASP; C# .NET/WPF; Actionscript; Flex</p>
                <br />
                <h4>Redwin Technologies</h4>
                <small>
                    Web Developer &middot;
                    May 2010 - February 2011 &middot;
                    Edinburgh, UK
                </small>
                <hr />
                <h5>Responsibilities/Achievements</h5>
                <ul>
                    <li>Creation of several Wordpress based sites for high profile clients</li>
                    <li>The Africa Channel website - http://theafricachannel.com</li>
                    <li>Derren Brown website - http://derrenbrown.com</li>
                    <li>Peter Serafinowics website - http://www.peterserafinowicz.com</li>
                    <li>Implementation and maintenance of code repository (SVN) and backup process</li>
                    <li>Administration and maintenance of development web server and hosted applications (Wikimedia and Bugzilla)</li>
                </ul>
                <h5>Technologies Used</h5>
                <p>HTML; CSS; jQuery; PHP; Wordpress</p>
                <br />
                <h4>Lloyds Banking Group</h4>
                <small>
                    Mainframe Developer &middot;
                    November 2006 - April 2010 &middot;
                    Chester, UK
                </small>
                <hr />
                <h5>Responsibilities/Achievements</h5>
                <ul>
                    <li>Development of high quality code for numerous data migration and infrastructure improvement projects</li>
                    <li>Creation and updating of technical designs and program specs</li>
                    <li>Liaising with business analysts and users during SIT and UAT phases of projects to ensure prompt correction of defects</li>
                    <li>Identifying and correcting issues in production code</li>
                    <li>Data owner for the development team, ensuring space on the windows shared drive is used efficiently</li>
                </ul>
                <h5>Technologies Used</h5>
                <p>COBOL; Easytrieve; SQL (DB2); CICS; IBM HLASM</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-2">
                <h4 class="column-header">Education</h4>
            </div>
            <div class="col-xs-10">
                <h4>Bachelor of Science</h4>
                <p>Heriot Watt University</p>
                <h5>Combined Studies - (Information Technology and Computer Science)</h5>
                <br />
                <h4>SQA Highers</h4>
                <p>Strathaven Academy</p>
                <h5>Computing - A, English - B, Geography - B, Physics - C, Maths - C</h5>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-2">
                <h4 class="column-header">Interests</h4>
            </div>
            <div class="col-xs-10">
            	<p>My interests outside of programming include Mixed Martial Arts (as a spectator!), poker, gaming, reading, wilderness camping and travelling. Hiking is a particularly fond pastime of mine and I've spent many hours on trails and hills all over the country.</p>
            </div>
        </div>
    </div>
    <!-- /container -->
</div>